.footer {
  width: 100%;
  height: 64px;
  color: #ffffff;
  position: absolute;
  bottom: 0;
}

.footerContainer {
  text-align: center;
  height: 100%;
  padding: 20px 2rem 0 2rem;
  max-width: 100%;
}
