@import "~materialize-css/dist/css/materialize.min.css";

input.red-input {
  border-bottom: 1px solid #fff!important;
  box-shadow: 0 1px 0 0 #fff!important;
}

input.red-input + label {
  color: #fff!important;
}

@media only screen and (max-width: 1600px) {
  .container {
    width: 90%;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }
}
